<title>
   {{ if eq site.Title .Page.Title }}
      {{ site.Title }}
   {{ else }}
      {{ site.Title }} – {{ .Page.Title }}
   {{ end }}
</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="{{ "favicon.ico" | relURL }}">

<link rel="alternate" type="application/rss+xml" title="Xubuntu News Feed" href="{{ "news/index.xml" | relURL }}" />

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
